.component {
  width: 1000px;
  margin: 0 auto;

  h1 {
    margin-top: 0;
  }

  .game {
    position: relative;
    min-height: 755px;

    .hints {
      display: flex;
      justify-content: center;
      margin-bottom: -20px;
    }

    .results {
      display: inline-block;
    }

    .logo {
      margin-left: 180px;
    }
  }

  .MuiCircularProgress-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50);
  }
}
