.header {
  height: 60px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  .nav-list {
    display: flex;
    color: #fff;

    &-item {
      margin-right: 10px;
      color: yellow;
      opacity: 0.7;
      text-decoration: none;

      &.active {
        opacity: 1;
      }
    }
  }

  .logout {
    position: absolute;
    right: 40px;
    cursor: pointer;
  }
}
